*{
    margin:0;
    padding:0;
}

.logo{
    width: 200px;
}




/* https://animate.style/ es la pagina para hacer animaciones
https://fontawesome.com/ es para elegir fuentes 
https://fonts.google.com se copia el link y se agrega en el head del css
link href="https://fonts.googleapis.com/....
y para usarla se copia el link de abajo y se pega en el font-family
o se descarga la fuente y se deja el archivo en la carpeta fonts dentro de la carpeta css*/