main {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: large;
    padding: 10px;
}

form label {
    display: block;
}
form input {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: large;
}
p {
    margin: 15px;
}


