main {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
}
form input {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
p {
    margin: 15px;
}


